/* RESET  */
/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

:root{
    --primary-color:#2C3F4F;
    --primary-color-light:#3B546D;
    --secondary-color:#1ABC9B;
    --white-color: white;
}


.my-star i{
    font-size: 2rem;
    display: inline-block;
    vertical-align: middle;
    padding: 20px;
    color: transparent;
}
.my-star::after{
    content: '';
    display: inline-block;
    width: 100px;
    border: 2px solid transparent;
    border-radius: 5px;
}
.my-star::before{
    content: '';
    display: inline-block;
    width: 100px;
    border: 2px solid transparent;
    border-radius: 5px;

}