#header-start{
    background-color: var(--primary-color);
}
#header-end{
    background-color: var(--secondary-color);
    text-align: center;
}
#about{
    background-color: var(--secondary-color);
}