header{
    background-color: var(--primary-color);
}
#jumbotron{
    background-color: var(--secondary-color);
    color: var(--white-color);
}
#about{
    background-color: var(--secondary-color);
}

#footer-start{
    background-color: var(--primary-color-light);
}
#footer-end{
    background-color: var(--primary-color);
}




#jumbotron img{
    width: 300px;
}
#jumbotron .col{
    display: flex;
    flex-direction: column;
    align-items: center;
}
